<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.navy.dao.UserDao">

	<resultMap type="userDetailsVO" id="userAndAuthorities">
		<id column="id" property="id" />
		<result property="username" column="username" />
		<collection property="authorities" column="username"
			ofType="authorityVO" select="findByUserNameAuthorities" />
	</resultMap>

	<select id="findByUserName" resultMap="userAndAuthorities">
		SELECT u_id,
		username,
		password,
		enabled,
		email, phone, address
		FROM tbl_users WHERE username = #{username}
	</select>

	<select id="selectAll" resultMap="userAndAuthorities">
		SELECT username,
		password,
		email, phone, address
		FROM tbl_users
	</select>



	<select id="findById" resultMap="userAndAuthorities">
		SELECT
		username,
		password,
		enabled,
		email,
		phone,
		address

		FROM tbl_users WHERE u_id = #{id}
	</select>

	<select id="findByUserNameAuthorities" resultType="authorityVO">
		SELECT *
		FROM tbl_authority
		WHERE username = #{username}
	</select>

	<insert id="insert" parameterType="userDetailsVO">
		INSERT INTO tbl_users

		(u_id,
		username,
		password,
		enabled
		)
		VALUES
		(
		SEQ_USERS_ID.NEXTVAL,
		#{username,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{enabled,jdbcType=VARCHAR}
		)

	</insert>

	<update id="update" parameterType="userDetailsVO">
		UPDATE tbl_users
		SET email = #{email,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		phone = #{phone,jdbcType=VARCHAR},
		address = #{address,jdbcType=VARCHAR}

		WHERE username = #{username,jdbcType=VARCHAR}

	</update>
	
	<update id="update_auth" parameterType="userDetailsVO">
		UPDATE tbl_users
		SET email = #{email,jdbcType=VARCHAR},
		phone = #{phone,jdbcType=VARCHAR},
		address = #{address,jdbcType=VARCHAR},
		enabled = #{enabled}

		WHERE username = #{username,jdbcType=VARCHAR}

	</update>

</mapper> 